.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.header > ul {
  list-style-type: none; /* Removes the default bullet points */
  margin: 0; /* Optional: Removes default margin */
  padding: 0; /* Optional: Removes default padding */
  display: Inline-block;
  padding: auto;

}

.header >ul > li {
    display:Inline-block;
    padding: 10px 9px 10px 9px; 
}

.card {

    border: 2px solid grey;
    display: inline-block;
    margin-right: 10px;
    width: 200px;
    height: 300px;
}

.logo {
    width: 200px;
}

.alogo {
    width: 100px;
}